<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PatientSearchResultsServlet</servlet-name>
        <servlet-class>dochunt.profile.PatientSearchResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendshipServlet</servlet-name>
        <servlet-class>dochunt.friendship.AddFriendshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeFriendshipServlet</servlet-name>
        <servlet-class>dochunt.friendship.SeeFriendshipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>AddReviewServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>dochunt.review.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSearchServlet</servlet-name>
        <servlet-class>dochunt.profile.PatientSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeFriendRequestsServlet</servlet-name>
        <servlet-class>dochunt.friendship.SeeFriendRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>dochunt.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>dochunt.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReviewServlet</servlet-name>
        <servlet-class>dochunt.review.ViewReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <servlet-class>dochunt.profile.DoctorProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <servlet-class>dochunt.profile.DoctorSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSearchResultsServlet</servlet-name>
        <servlet-class>dochunt.profile.DoctorSearchResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientSearchResultsServlet</servlet-name>
        <url-pattern>/PatientSearchResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendshipServlet</servlet-name>
        <url-pattern>/AddFriendshipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeFriendshipServlet</servlet-name>
        <url-pattern>/SeeFriendshipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSearchServlet</servlet-name>
        <url-pattern>/PatientSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeFriendRequestsServlet</servlet-name>
        <url-pattern>/SeeFriendRequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReviewServlet</servlet-name>
        <url-pattern>/ViewReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfileServlet</servlet-name>
        <url-pattern>/DoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <url-pattern>/DoctorSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSearchResultsServlet</servlet-name>
        <url-pattern>/DoctorSearchResultsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>MySQL connection pool</description>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
